<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.administrator.androidscroll"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".colorMatrix.PrimaryColorActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".colorMatrix.ColorMatrix"
            android:label="@string/title_activity_color_matrix"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".colorMatrix.ImageMatrixViewActivity"
            android:label="@string/title_activity_image_matrix_view"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".colorMatrix.FlagBitmapMeshActivity"
            android:label="@string/title_activity_flag_bitmap_mesh"
            android:theme="@style/AppTheme.NoActionBar">
          <!--  <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>-->
        </activity>
        <activity
            android:name=".animation.ProperAnimationTestActivity"
            android:label="@string/title_activity_proper_animation_test"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
