<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.yxhuang.customview"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".CustomViewGroup.CustomViewActivity"
            android:label="@string/title_activity_custom_view">
        </activity>
        <activity
            android:name=".CustomViewGroup.CustomViewMainActivity"
            android:label="@string/title_activity_custom_view_main_acitivity">
        </activity>
        <activity
            android:name=".ThameAndAnimation.AnimationActivity"
            android:label="@string/title_activity_animaition">
        </activity>
        <activity
            android:name=".ThameAndAnimation.DragViewActivity"
            android:label="@string/title_activity_drag_view">
        </activity>
        <activity
            android:name=".RecyclerView.RecyclerViewActivity"
            android:label="@string/title_activity_recycler_view">
        </activity>
        <activity
            android:name=".CustomView.PieChartActivity"
            android:label="@string/title_activity_pie_chart">
        </activity>
        <activity
            android:name=".CustomListView.ListViewActivity"
            android:label="@string/title_activity_list_view"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
